[submodule "boot/embeddedsw"]
	path = boot/embeddedsw
	url = https://github.com/Xilinx/embeddedsw
[submodule "boot/device-tree"]
	path = boot/device-tree
	url = https://github.com/Xilinx/device-tree-xlnx
[submodule "boot/u-boot"]
	path = boot/u-boot
	url = https://github.com/Xilinx/u-boot-xlnx
